* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

#random-area {
    width: 80%;
    margin: 40px auto 8px;
    text-align: center;
    padding: 20px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

#random-area p {
    width: 20%;
    margin: 0 auto 8px;
    border: 2px solid green;
    color: green;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
}

#random,
#stop {
    width: 40%;
    padding: 8px;
    border: 0;
    border-radius: 3px;
    margin: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.05s;
    font-weight: 600;
    letter-spacing: 1px;
}

#random:hover,
#stop:hover {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

#random:active,
#stop:active,
#random:visited,
#stop:visited {
    outline: none;
}

#random {
    background-color: yellow;
    color: black;
}

#stop {
    background-color: red;
    color: white;
}

.copyright {
    font-size: 11px;
    text-align: center;
    color: #666;
}

@media screen and (min-width: 650px) {
    #random-area {
        width: 60%;
    }
}

@media screen and (min-width: 800px) {
    #random-area {
        width: 40%;
    }
}